html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.introText {
    font-family: American Typewriter, serif;
    font-weight: bold;
    fill: #3af;
}

.levelEditorGrid {
    fill: #f00;
    font-size: 8px;
    font-family: Courier;
    font-weight: bold;
    z-index: -1;
    position: relative;
}

.black {
    fill: black;
}

.bluBlue {
    fill: #3af;
}

.bluGreen {
    fill: #af3;
}

.bluGreenLine {
    fill: #99e62e;
}

.bluOrange {
    fill: #f28c28;
}

.bluOutline {
    fill: #4dc1ff;
}

.bluInnerOutline {
    fill: #38b3ff;
}